/*table, td, a {
	color: #000;
	font: normal normal 12px Verdana, Geneva, Arial, Helvetica, sans-serif
}
*/
/* end basic styling								 */
/* define height and width of scrollable area. Add 16px to width for scrollbar		 */
div.tableContainer {
/*clear: both;
	/*border: 1px solid #963;*/
	/*height: 400px;*/
	overflow: auto;
	width: 100%;
}
/* Reset overflow value to hidden for all non-IE browsers. */
div.tableContainer {
	overflow: hidden;
	width: 100%;
}
/* define width of table. IE browsers only				 */
div.tableContainer table {
	float: left;
/*	width: 100%;*/
}
/* define width of table. Add 16px to width for scrollbar.		  */
/* All other non-IE browsers.										*/
div.tableContainer table {
/*width: 1000%;*/
}
/* set table header to a fixed position. WinIE 6.x only									  */
/* In WinIE 6.x, any element with a position property set to relative and is a child of	  */
/* an element that has an overflow property set, the relative value translates into fixed.	*/
/* Ex: parent element DIV with a class of tableContainer has an overflow property set to auto */
thead.fixedHeader tr {
	position: relative
}
/* set THEAD element to have block level attributes. All other non-IE browsers			*/
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
thead.fixedHeader tr {
	display: block
}
/* make the TH elements pretty */
thead.fixedHeader th {
/*	background: #C96;*/
/*	border-left: 1px solid #EB8;
	border-right: 1px solid #B74;
	border-top: 1px solid #EB8;*/
/*	font-weight: normal;
	padding: 4px 3px;
	text-align: left*/
}
/* make the A elements pretty. makes for nice clickable headers				*/
thead.fixedHeader a, thead.fixedHeader a:link, thead.fixedHeader a:visited {
/*	color: #FFF;*/
	display: block;
	/*text-decoration: none;*/
	/*width: 100%*/
}
/* make the A elements pretty. makes for nice clickable headers				*/
/* WARNING: swapping the background on hover may cause problems in WinIE 6.x  */
thead.fixedHeader a:hover {
/*	color: #FFF;*/
	display: block;
	/*text-decoration: underline;*/
/*	width: 100%*/
}
/* define the table content to be scrollable											 */
/* set TBODY element to have block level attributes. All other non-IE browsers			*/
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
/* induced side effect is that child TDs no longer accept width: auto					 */
tbody.scrollContent {
	display: block;

	overflow: auto;
	/*width: 100%*/
}
/* make TD elements pretty. Provide alternating classes for striping the table */
/* http://www.alistapart.com/articles/zebratables/							 */
tbody.scrollContent td, tbody.scrollContent tr.normalRow td {
	border-bottom: none;
	border-left: none;
	border-right: 1px solid #CCC;
	border-top: 1px solid #DDD;
	padding: 2px 3px 3px 4px
}
tbody.scrollContent tr.alternateRow td {
	background: #EEE;
	border-bottom: none;
	border-left: none;
	border-right: 1px ;
	border-top: 1px ;
	padding: 2px 3px 3px 4px
}
 thead.fixedHeader th {
/*	width: 100%*/
}
 thead.fixedHeader th + th {
	/*width: 100%*/
}
thead.fixedHeader th + th + th {
/*	width: 100%*/
}

tbody.scrollContent td {
/*	width: 100%*/
}
tbody.scrollContent td + td {
/*	width: 100%*/
}
html>body tbody.scrollContent td + td + td {
/*	width: 100%*/
} 
FORM {
clear: none; 
float: none; 
border-style: none; 
margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px
}