<span style='color: #000'>291 frames</span>	<span style='color: #900'>15,616 KB</span>	<span style='color: #090'>600.04 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />