<table class="borde_tab" width="90%" align="center" border="0" cellspacing="0" cellpadding="0">
    <tr class="titulo1"><td height="19">Datos de b&uacute;queda</td></tr>
    <tr>
        <td>
            <table width="100%" align="center" cellspacing="1" cellpadding="1" border="0">
                <!--tr id='j1' style="display:table-row"><td class="titulos2" width="25%" colspan="4"><input id='r1' type='radio' name='ra2' value=1 onclick="formAgr('Otro Destinatario');">Otro Destinatario</td></tr-->
                <tr id='j2' style="display:table-row"><td class="titulos2" width="25%" colspan="4"><input id='r2' type='radio' name='ra2' value=2 onclick="formAgr('Datos de Factura','factura.html');">Datos de Factura</td></tr>
		<!--tr id='j3' style="display:table-row"><td class="titulos2" width="25%" colspan="4"><input id='r3' type='radio' name='ra2' value=2 onclick="formAgr('Datos de Solicitud');">Datos de Solicitud</td></tr-->
                <tr>
                    <td class="info" colspan=4 id='devolver2'><center><input class='botones' type='button' value='Devolver' onclick="devolver()"></center></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
