<table class="borde_tab" width="90%" align="center" border="0" cellspacing="0" cellpadding="0">
            <tr class="titulo1"><td height="19">Datos de b&uacute;queda</td></tr>
            <tr>
                <td>
                    <table width="100%" align="center" cellspacing="1" cellpadding="1" border="0">
                        <tr id='j1' style="display:table-row"><td class="titulos2" width="25%" colspan="4"><input id='r1' type='radio' name='ra2' value=1 onclick="dataBusq(this);">Nombre</td></tr>
                        <tr id='j2' style="display:table-row"><td class="titulos2" width="25%" colspan="4"><input id='r2' type='radio' name='ra2' value=2 onclick="dataBusq(this);">Documento</td></tr>
                        <tr id='j4' style="display:none"><td class="titulos2" width="15%">Nombre</td><td class="titulos2" width="25%" colspan=3> <input type='text' id='nombre2' onkeyup="reloadSearch(this,1)"></td></tr>
                        <tr id='j5' style="display:none"><td class="titulos2" width="15%">Documento</td><td class="titulos2" width="25%" colspan=3> <input type='text' id='nodoc2' onkeyup="reloadSearch(this,0)"></td></tr>
                        <tr>
                            <td class="info" colspan=4 id='devolver2'><center><input class='botones' type='button' value='Devolver' onclick="devolver()"></center></td>
                        </tr>
                   </table>
                </td>
            </tr>
        </table>
        <div id='response2'></div>
