<table width=100%  class="t_bordeGris" align="center" cellpadding="0" cellspacing="0">
    <tr class="listado2">
	<td class="titulos50" align="right">N&uacute;mero de Factura</td>
	<td bgcolor="#FFFFFF"  class="listado50"><input name="NoFactura" id="tipoFac" type="text" class="tex_area" required></td>
        <td class="titulos50" align="right">Prefijo</td>
        <td bgcolor="#FFFFFF"  class="listado50"><input name="" id="RemFact" type="text" class="tex_area"></td>
    </tr>
    <tr class="listado2">
        <td class="titulos50" align="right">Valor Factura</td>
        <td bgcolor="#FFFFFF"  class="listado50" colspan="3">
	    <input type="text" class="tex_area" name="MontoFactura" id="DescFact">
	</td>
    </tr>
</table>
