<table width="100%" border="0" cellspacing="0" cellpadding="0" class="borde_tab" style='border-collapse : collapse;'>
	<tr>
			<td  class='titulos2' height="10">
					Administraci&oacute;n de Ubicaciones
				<img src="../../imagenes/menu/asterisco.gif" width="15" height="15">
		 	<a href='adm_paises.php' class='menu_princ'>Paises
                        </a>
                         <img src="../../imagenes/menu/asterisco.gif" width="15" height="15">
			<a href='adm_dptos.php' class='menu_princ'>Departamentos
			</a> 
			 <img src="../../imagenes/menu/asterisco.gif" width="15" height="15"><a href='adm_mcpios.php' class='menu_princ'>Municipios
			
			</a> 
			</td>
	</tr>
</table>
