<table width="100%" border="0" cellspacing="0" cellpadding="0" class="borde_tab" style='border-collapse : collapse;'>
	<tr>
			<td  class='titulos2' height="10">
					<img src='../imagenes/correo.gif' width="10" height="10"> Envio de Correspondencia 
				<img src="../imagenes/menu/asterisco.gif" width="15" height="15">
			<a href='../envios/cuerpoEnvioNormal.php?&estado_sal=3&estado_sal_max=3&nomcarpeta=Radicados Para Envio' class='menu_princ'>Normal
			</a> 
			 <img src="../imagenes/menu/asterisco.gif" width="15" height="15"><a href='../radsalida/cuerpo_masiva.php?&estado_sal=3&estado_sal_max=3' class='menu_princ'>Masiva
			</a><img src="../imagenes/menu/asterisco.gif" width="15" height="15"><a href='../radsalida/generar_envio.php' class='menu_princ'>Generacion de Planillas
			y Guias
			
			<img src="../imagenes/menu/asterisco.gif" width="15" height="15"><a href='../envios/cuerpoModifEnvio.php?estado_sal=4&estado_sal_max=4&devolucion=3' class='menu_princ'>Modificacion Registro de Envio
			</a> 
			</td>
	</tr>
</table>