@charset "utf-8";
/* CSS Document */
html {
height: 100%;
width:100%;
min-width:1024px;
}

body
{
	height: 100%;
	width:100%;
	background:#ccc;
	padding:0px;
	margin:0px;
	min-width:1024px;
}

img
{
	border:0;
}

a
{
	border:0;
}
/******************************index*******************************************/
#superiorindex
{
	position:absolute;
	top:50%;
	left:50%;
	height:270px;
	width:300px;
	margin-top:-135px;
	margin-left:-150px;
	background:transparent;
}

#talogin
{
	font-size:10px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	background:#e3e3e3;
	width:300px;
	height:270px;
	border-radius:30px;
	text-align:center;
}


/******************************menu superior***************************************/

.contemenu
{
	float:left;
	width:100%;
	height:55px; 
	background:transparent;
	/*background:#0F0;*/
	min-width:1020px;
	margin:0px;
	padding:0px;
}

.contesubmenu
{
	float:left;
	width:100%;
	height:55px;
	background:transparent;
	/*background-color:#CCC;*/
	min-width:1020px;
	margin:0px;
	padding:0px;
}

.menupalide
{
	width:100%;
	text-align:right;
	/*background:transparent;*/
	margin-left:auto;
	/*margin-right:auto;*/
	margin-top:0px;
	margin-bottom:0px;
	/*background: url(../imagenes/Boton-Morado.png) 0 0 repeat-x;/*hay que determinar cual es*/
	height:50px;
	background: url(../imagenes/complementaria_admin.jpg) 0 0 repeat-x;
}

.menupalide2
{
	width:100%;
	text-align:left;
	/*background:transparent;*/
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	margin-bottom:0px;
	/*background: url(../imagenes/Boton-Morado.png) 0 0 repeat-x;/*hay que determinar cual es*/
	height:50px;
	background: url(../imagenes/complementaria_admin2.jpg) 0 0 repeat-x;
}

.menide { 
position:relative;
/*float:left;*/
float:right;
width:800px;
/*background-color:#CCC;*/
background:transparent;
margin-left:30px;
/*background-color:#0F0;*/

}

.menide ul {
	text-align:left;
list-style: none; 
margin:0; 
padding:0;
float: left;
background:transparent;
}

.menide ul li {
margin:0;
padding: 0;
float: left;
list-style: none;
background: none;
display: block;
text-align:center;
color:#FFF;
}

.menide ul li:hover ul {
left: auto;
	
}

/* estilos del menu
-----------------------------------*/
/* 1st level */
.menide ul li a {
padding: 8px 8px 0 8px ;
margin:0;
display: block; 
font-weight: bold;	
font-size:10.4px;
text-transform:uppercase;
height:42px;
background:transparent; 
/*border-left:1px solid #f5f5f5;
border-right:1px solid #e1e1e1;*/
color:#FFF;
font-weight:900;
}

.menide ul li {
/*background:transparent;*/
height:42px;

}


.menide li.active a {
color:#FFF;
height:42px ;
background:url(../imagenes/bgboton.jpg) repeat 0 0;/*no se ha determinado cual se quiere*/
}

.menide li:hover a {
color:#999;
height:42px ;
background:transparent url(../imagenes/bgboton.jpg) repeat 0 0 ;/*falta ordenar cual se quiere*/
}

/******************************menu superior de segundo nivel***********************/

.menide2 { 
position:relative;
float:left;
/*float:right;*/
width:600px; 
background:transparent;
margin-left:30px;
/*background-color:#0F0;*/

}

.menide2 ul {
list-style: none; 
margin:0; 
padding:0;
float: left;
background:transparent;
}

.menide2 ul li {
margin:0;
padding: 0;
float: left;
list-style: none;
background: none;
display: block;
	
}

.menide2 ul li:hover ul {
left: auto;
	
}

/* estilos del menu
-----------------------------------*/
/* 1st level */
.menide2 ul li a {
padding: 8px 8px 0 8px ;
margin:0;
display: block; 
font-weight: bold;	
font-size:10.4px;
text-transform:uppercase;
height:42px;
background:transparent; 
/*border-left:1px solid #f5f5f5;
border-right:1px solid #e1e1e1;*/
color:#FFF;
text-align:center;
}

.menide2 ul li {
/*background:transparent;*/
height:42px;

}


.menide2 li.active a {
color:#FFF;
height:42px ;
background:url(../imagenes/bgboton.jpg) repeat 0 0;/*no se ha determinado cual se quiere*/
}

.menide2 li:hover a {
color:#999;
height:42px ;
background:transparent url(../imagenes/bgboton.jpg) repeat 0 0 ;/*falta ordenar cual se quiere*/
}

/******************************nuevo sorteo****************************************/

.areasort
{
	resize:none;
	width:680px;
	background:#FFF;
	border-radius:5px;
	border:0;
	margin:5px;
}

.fcalendar
{
	width:130px;
	vertical-align:top;
}

/*****************************************************************************************/
/* -------------------------------------------- */
/* ------------- Pagination: Flickr -----------	*/
/* -------------------------------------------- */

.paginador
{
	float:left;
	width:100%;
	height:55px; 
	background:transparent;
	min-width:1020px;
	margin:0px;
	padding:0px;
}

#pagination-flickr ul    
{ 
	border:0;
	margin:0; 
	padding:0; 
}

#pagination-flickr li          
{ 
	border:0; 
	margin:0; 
	padding:0; 
	font-size:11px; 
	list-style:none; /* savers */ 
	float:left; 
}

#pagination-flickr a           
{ 
	border:solid 1px #DDDDDD; 
	margin-right:2px; 
}

#pagination-flickr .previous-off,
#pagination-flickr .next-off   
{ 
	color:#666666; 
	display:block; 
	float:left; 
	font-weight:bold; 
	padding:3px 4px; 
}
#pagination-flickr .next a,
#pagination-flickr .previous a 
{ 
	font-weight:bold; 
	border:solid 1px #FFFFFF; 
}

#pagination-flickr .active     
{ 
	color:#ff0084; 
	font-weight:bold; 
	display:block; 
	float:left; 
	padding:4px 6px; 
}

#pagination-flickr a:link,
#pagination-flickr a:visited   
{ 
	color:#0063e3; 
	display:block; 
	float:left; 
	padding:3px 6px; 
	text-decoration:none; 
}

#pagination-flickr a:hover     
{ 
	border:solid 1px #666666;
	background:#00C; 
}
/************************************************************************************/
/********************************contenidos1******************************************/
.contenidos1
{
	float:left;
	width:100%;
	height:auto;
	background:#e9e9e9;
	/*background:transparent;*/
	min-width:1020px;
	margin:0px;
	padding:0px;
	text-align:center;
	height:660px;
}

.contenidos1adm
{
	float:left;
	width:100%;
	height:600px;
	background:#e9e9e9;
	/*background:transparent;*/
	min-width:1020px;
	margin:0px;
	padding:0px;
	text-align:center;
}
.contenidos1adm2
{
	float:left;
	width:100%;
	height:640px;
	background:#e9e9e9;
	/*background:transparent;*/
	min-width:1020px;
	margin:0px;
	padding:0px;
	text-align:center;
}

.contenidos1adm3
{
	float:left;
	width:100%;
	height:560px;
	background:#e9e9e9;
	/*background:transparent;*/
	min-width:1020px;
	margin:0px;
	padding:0px;
	text-align:center;
}
/**************************************/
.boton1
{
	background-image:url(../imagenes/ok.png);
	border:none;
	width:50px;
	height:50px;
	color:#fff;
}
.boton2
{
	background-image:url(../imagenes/ok.png);
	border:none;
	width:50px;
	height:50px;
	color:#fff;
}
/**************************************/
#usr
{
	position:relative;
	width:600px;
	/*background:#0F0;*/
	margin-left:auto;
	margin-right:auto;
	margin-top:80px;
	padding-top:20px;
}

.adm
{
	position:relative;
	width:1000px;
	/*background:#0F0;*/
	margin-left:auto;
	margin-right:auto;
	padding-top:20px;
}

.adm2
{
	position:relative;
	width:1000px;
	/*background:#0F0;*/
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	text-transform:uppercase;
}

#admhomei
{
	margin-top:100px;
	width:100%;
	height:180px;
	background:#FFF;
}


#cfgp
{
	position:relative;
	width:800px;
	/*background:#0F0;*/
	margin-left:auto;
	margin-right:auto;
	margin-top:80px;
	padding-top:20px;
}

#ctc
{
	position:relative;
	width:400px;
	/*background:#0F0;*/
	margin-left:auto;
	margin-right:auto;
	margin-top:80px;
	padding-top:20px;
}

#perf
{
	position:relative;
	width:400px;
	/*background:#0F0;*/
	margin-left:auto;
	margin-right:auto;
	margin-top:80px;
	padding-top:20px;
}

#prytos
{
	position:relative;
	width:600px;
	/*background:#0F0;*/
	margin-left:auto;
	margin-right:auto;
	margin-top:80px;
	padding-top:20px;
}

.lateral
{
	margin-top:0px;
	width:200px;
	float:left;
	display:block;
}

.lateral h2
{
	font-size:12px;
}

.leyendo
{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:1024px;
	background:transparent;
	height:620px;
	overflow:auto;
	font-size:12px;
}

#indextitle
{
	background:#d9d9d9;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom:solid;
	border-bottom-width:2px;
	border-bottom-color:#c3c2c2;
}

#btnindex
{
	text-align:center;
	height:60px;
	border-top:solid;
	border-top-width:1px;
	border-top-color:#c3c2c2;
}

.tdword
{
	font-size:11px;
}
#login,#contrasena
{
	width:200px;
}
#tdmedium
{
	height:60px;
}

footer
{
	position:relative;
	float:left;
	width:100%;
	height:120px;
	background:#5f5f5f;
	/*background:transparent;*/
	min-width:1020px;
	margin:0px;
	padding:0px;
	text-align:center;
}

#infe,#infe a
{
	position:relative;
	width:600px;
	height:60px;
	background:#5f5f5f;
	margin-left:auto;
	margin-right:auto;
	padding:0px;
	color:#FFF;
}


.contenedorpal
{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -120px; /* the bottom margin is the negative value of the footer's height */
}

#loco
{
	min-width:1020px;
}

#admhome
{
	width:1024px;
	margin-left:auto;
	margin-right:auto;
	
	
	text-align:center;
	margin-bottom:20px;
}

#tablaadmhome
{
	width:980px;
	margin-left:auto;
	margin-right:auto;
	border-radius:30px;
	background:#e3e3e3;
}

#admhtitle
{
	background:#616161;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom:solid;
	border-bottom-width:2px;
	border-bottom-color:#c3c2c2;
	color:#FFF;
}

#admhtitle2
{
	background:#616161;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom:solid;
	border-bottom-width:2px;
	border-bottom-color:#c3c2c2;
	color:#FFF;
	text-align:center;
	text-transform:uppercase;
}

#btnindexh
{
	text-align:center;
	height:60px;
	border-top:solid;
	border-top-width:1px;
	border-top-color:#c3c2c2;
}

#carreta
{
	text-align:justify;
	font-size:10px;
	padding-left:3px;
}

#carreta2
{
	text-align:left;
	font-size:10px;
}

#anexarh
{
	width:150px;
	text-align:right;
	font-size:12px;
}
.capainterna
{
	min-width:1024px;
	min-height:620px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:1024px;
	height:620px;
	margin-top:20px;
	margin-bottom:20px;
	text-align:center;
	background:transparent;
}
.capainterna2
{
	min-width:1024px;
	min-height:620px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	height:620px;
	margin-top:20px;
	margin-bottom:20px;
	text-align:center;
	background:transparent;
}

.capainterna3
{
	min-width:1024px;
	min-height:520px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:1024px;
	height:520px;
	margin-top:20px;
	margin-bottom:20px;
	text-align:center;
	background:transparent;
}

#tblnewuser
{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:520px;
	background:transparent;
}

#tblmoduser
{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:620px;
	background:transparent;
}

#tblnewuserok
{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:750px;
	background:transparent;
	font-size:12px;
}

#tblseeuserok
{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	height:620px;
	background:transparent;
	overflow:auto;
}

#tblnewproy
{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:1024px;
	background:transparent;
	height:620px;
	overflow:auto;
}

#tblcargaimg
{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:800px;
	background:transparent;
	height:620px;
	overflow:auto;
}

#tblcargaimgind
{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:1024px;
	background:transparent;
	height:620px;
	overflow:auto;
}

#tblmoduserint
{
	width:520px;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	border-radius:30px;
	background:#e3e3e3;
	font-size:12px;
}

#tblnewuserint
{
	width:520px;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	border-radius:30px;
	background:#e3e3e3;
	font-size:12px;
}

#tblnewuserint2
{
	width:600px;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	border-radius:30px;
	background:#e3e3e3;
}

#tblseeuserint
{
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	border-radius:30px;
	background:#e3e3e3;
}

#tblnewproint
{
	width:1024px;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	border-radius:30px;
	background:#e3e3e3;
	font-size:12px;
}

#tblnewproint2
{
	width:950px;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	border-radius:30px;
	background:#e3e3e3;
	font-size:12px;
}

#tblcargaimgint
{
	width:600px;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	border-radius:30px;
	background:#e3e3e3;
	font-size:12px;
}

#tblcargaimgindint
{
	width:980px;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	border-radius:30px;
	background:#e3e3e3;
}

#tblupdateproint
{
	width:850px;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	border-radius:30px;
	background:#e3e3e3;
	font-size:12px;
}

#tblupdateproBint
{
	width:660px;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	border-radius:30px;
	background:#e3e3e3;
}

#tblupdateproGMint
{
	width:920px;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	border-radius:30px;
	background:#e3e3e3;
}

#tblupdateimgindint
{
	width:1000px;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	border-radius:30px;
	background:#e3e3e3;
	font-size:12px;
}

#tblupdateimg2indint
{
	width:900px;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	border-radius:30px;
	background:#e3e3e3;
	font-size:12px;
}

#tblupdateimg3indint
{
	width:980px;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	border-radius:30px;
	background:#e3e3e3;
}

#tblconfproyint
{
	width:900px;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	border-radius:30px;
	background:#e3e3e3;
	font-size:12px;
}

#tblconfinfoBint
{
	width:850px;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	border-radius:30px;
	background:#e3e3e3;
	font-size:12px;
}

#tblconfproGMint
{
	width:920px;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	border-radius:30px;
	background:#e3e3e3;
}

#tblconfimgyaint
{
	width:900px;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	border-radius:30px;
	background:#e3e3e3;
	font-size:12px;
}

#ctnmailindint
{
	width:800px;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	border-radius:30px;
	background:#e3e3e3;
	font-size:12px;
	text-align:left;
}

#tdnus
{
	width:250px;
	padding-left:10px;
	padding-right:10px;
}

.tdnus
{
	width:250px;
	padding-left:10px;
	padding-right:10px;
}

.tdnus4
{
	width:200px;
	padding-left:10px;
	padding-right:10px;
}

.tdnus5
{
	width:300px;
	padding-left:10px;
	padding-right:10px;
}

#tdnus2
{
	width:80px;
	padding-left:10px;
	padding-right:10px;
}

#tdnus3
{
	width:180px;
	padding-left:10px;
	padding-right:10px;
}

.tdcenter
{
	text-align:center;
}

.tdnameimg
{
	text-align:left;
	padding-left:10px;
	width:200px;
}

.tdfraseimg
{
	text-align:justify;
	padding-left:10px;
	width:300px;
}

.tdverimg
{
	padding:3px 3px 3px 3px;
}

.inputtp1
{
	width:225px;
}

.inputtp2
{
	width:180px;
}

.tddoc
{
	width:170px;
}
.normales
{
	width:140px;
}
.tdseeusers
{
	padding:3px 5px 3px 5px;
	font-size:11px;
}
#error_msn
{
	text-align:center;
	color:#F00;
	font-size:14px;
}
.contenidospag
{
	float:left;
	width:100%;
	background:#e9e9e9;
	background:transparent;
	min-width:1020px;
	margin:0px;
	padding:0px;
	text-align:center;
	height:50px;
}
.pagcontainer
{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:340px;
	height:35px;
	padding-top:15px;
	background:transparent;
}

#tblmodimgok
{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:750px;
	background:transparent;
}

#tblmodimgint2
{
	width:600px;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	border-radius:30px;
	background:#e3e3e3;
	font-size:12px;
}

.pagcontainergrande
{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:auto;
	height:45px;
	padding-top:15px;
	background:transparent;
}

#tblseemail
{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:750px;
	height:520px;
	overflow:auto;
	background:transparent;
}
/********************************************/
#tblconfimg
{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:1024px;
	height:520px;
	overflow:auto;
	background:transparent;
}

#tblconfimgint
{
	width:900px;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	border-radius:30px;
	background:#e3e3e3;
	font-size:12px;
}

#tblseemailint
{
	width:700px;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	border-radius:30px;
	background:#e3e3e3;
	margin-top:10px;
	margin-bottom:10px;
}

textarea
{
	resize:none;
}

.subtitle
{
	text-align:center;
	background:#dfdfdf;
}

.space
{
	height:20px;
}

#tddetalles
{
	background:#FFF;
	border-radius:10px;
	padding:10px 10px 10px 10px;
	
}

#contedorlostpal
{
	position:absolute;
	top:50%;
	left:50%;
	height:360px;
	width:500px;
	margin-top:-180px;
	margin-left:-250px;
	background:transparent;
}

#contenedorlost
{
	width:500px;
	height:360px;
	margin-left:auto;
	margin-right:auto;
	background:transparent;
}

#tbllostpassint
{
	width:320px;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	border-radius:30px;
	background:#e3e3e3;
	font-size:12px;
}