#lightbox {
        position: fixed;
        top: 0;
        height: 400px;
        left: 24%;
        width: 90%;
        margin-left: -250px;
        background: #fff;
        overflow: auto;
        z-index: 1001;
        display: none;
        }
        #lightbox-shadow{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        filter: alpha(opacity=75);
        -moz-opacity: 0.75;
        -khtml-opacity: 0.75;
        opacity: 0.75;
        z-index: 1000;
        display: none;
        }
