/* 
    Document   : Style
    Created on : 4/03/2013, 05:40:45 PM
    Author     : deimont
    Description:
        Purpose of the stylesheet follows.
*/

body
{

    font-family : "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 12px;
    width:100%;
    margin:5px auto;
    font-family: Arial, "MS Trebuchet", sans-serif;
    margin-left: 1px;
    margin-top: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
    /*color: #0000FF;*/
    background-color: #ffffff;
    
}
contenido{
    background-image:url(../img/md_orfeo2.png);
    
        color: #0000FF;
}

p
{
    margin:0 0 20px 0;
}
p, li
{
    line-height:20px;
}
header#page_header nav ul, #page_footer nav ul
{
    list-style: none;
    
    margin-left: 3px;
    margin-top: 0px;
    margin-right: 3px;
    margin-bottom: 0px;
    padding: 0;
        /*text-align: center;*/
}
header#page_header
{
    border: thin solid #377584;
}
header#page_header h1
{
    margin-top: 0;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    background-color: #006699;
         text-transform: inherit;
    text-shadow: 0.1em 0.1em 0.2em black;
}


#anexos ul li
{
    display: inline;
    padding:0;
    margin: 0 20px 0 0;

}

#page_header nav ul li, footer#page_footer nav ul li
{
    padding:0;
    margin: 10px 20px 0 0;
    display:inline;

}
section#posts
{
    background-image: url(../img/md_orfeo2.png);
    float: left;
    width: 100%;
}

header#nav
{
 /*   background-image: url(../img/md_orfeo2.png);*/
    float: right;
     width: 100%;
}
.nav
{
    background-image: url(../img/md_orfeo2.png);
 text-align: center;
}
section#posts aside
{
    float: right;
    width: 35%;
    margin-left: 5%;
    font-size: 20px;
    line-height: 20px;
}
section#sidebar
{
    float: left;
    width: 25%;
}
footer#page_footer
{
    clear: both;
    width: 100%;
    display: block;
    text-align: center;
}

.text {
    text-shadow: 0.1em 0.1em 0.2em black;
    font-size: 14px ;
    font-family: sans-serif;
    font-style:inherit;
    color: black;
     position: relative;
     vertical-align: top;
     text-transform: inherit;
      text-align: center;
}

.text-b {
   /* text-shadow: 0.1em 0.1em 0.2em black;*/
    font-size: 12px ;
    font-style:initial;
    color: black;
     position: relative;
     vertical-align: top;
     text-transform: inherit;
     text-align: left;
}
.text-a {
   /* text-shadow: 0.1em 0.1em 0.2em black;*/
    font-size: 12px ;
    font-style:inherit;
    color: blue;
     position: relative;
     vertical-align: top;
     text-transform: inherit;
      text-align: center;
     
}
th{
    height: 1px;
    
}

article{
    margin-left: 10px;
    
}

.tabS {
    
     border: thin solid #377584;
}
.hdtb-tl-sel,  .hdtb-tl-sel:hover {
background: -webkit-linear-gradient(top,#eee,#e0e0e0);
-webkit-box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.1);
border: 1px solid #d7d7d7;
box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.1);
margin-left: 9px;
}

 #hdtb_tls:hover {
background-color: #f8f8f8;
background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
border: 1px solid #c6c6c6;
color: #222;
}
#hdtb_msb {
display: inline-block;
float: left;
white-space: nowrap;
}
ul, menu, dir {
display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}
 #navigation{
	position: fixed;
	float: left;
	width: 11.5em;
	padding: 0;

	height: 100%;
	border-right: 1px #ccc solid;
	-moz-box-shadow: -3px 0 7px #000;
	-webkit-box-shadow: -3px 0 7px #000;
	box-shadow: -3px 0 7px #000;
	/*overflow: hidden;*/
	background-color: #eee;
}#navigation a{
	display: block;
	padding: .6em .5em .4em 2.5em;
	background: #eee 1em center no-repeat;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #fff;
	text-decoration: none;
	font-size: 1.2em;
	color: #666;
	text-shadow: #f8f8f8 0 1px 0
}#navigation a.active,#navigation a:hover,#navigation a:focus{
	background-color: #dbdbdb;
	border-top: 1px solid #d4d4d4;
	border-bottom: 1px solid #ccc;
	color: #333
}#navigation a.active{
	background-color: #ddd
}#navigation #settings{
	position: absolute;
	bottom: 3.5em;
	width: 100%
}

#navigation ul
{
list-style-type:none;
margin:0;
padding:0;
}

#content {
left: 12.5em;
position: absolute;
}
 
#fileList tr td.filename {
    -webkit-transition: background-image 500ms;
    -moz-transition: background-image 500ms;
    -o-transition: background-image 500ms;
    transition: background-image 500ms;
    position: relative;
}
table{border-collapse:separate;border-spacing:1;/*white-space:nowrap*/}
/*
#navigation a
{
display:block;
width:60px;
background-color:#dddddd;
}*/