
/* root element for tabs  */
ul.tabs { 
	list-style:none; 
	margin:0 !important; 
	padding:0;	
	border-bottom:1px solid #666;	
	height:20px;
}

/* single tab */
ul.tabs li { 
	float:left;	 
	text-indent:0;
	padding:0;
	margin:0 !important;
	list-style-image:none !important; 
}

/* link inside the tab. uses a background image */
ul.tabs a { 
	
	/*background: url(../imagenes/cuerpo/default/toolbar/tb-bg.gif);*/
	background: url(../imagenes/button.png) no-repeat -551px 0;
	font-size:11px;
	display:block;
	height: 20px;  
	line-height:20px;
	width: 81px;
	text-align:center;	
	text-decoration:none;
	color:#333;
	padding:0px;
	margin:0px;	
	position:relative;
	top:1px;
}

ul.tabs a:active {
	outline:none;		
}

/* when mouse enters the tab move the background image */
ul.tabs a:hover {
	/*background: url(../imagenes/cuerpo/default/toolbar/tb-xl-sep.gif);*/
	background-position: -551px -31px;	
	color:#fff;	
}

/* active tab uses a class name "current". its highlight is also done by moving the background image. */
ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
	/*background: url(../imagenes/cuerpo/default/toolbar/gray-bg.gif);*/
	background-position: -551px -62px;	
	cursor:default !important; 
	color:#000 !important;
}

/* Different widths for tabs: use a class name: w1, w2, w3 or w2 */


/* width 1 */
ul.tabs a.s 		{ background-position: -551px 0; width:81px; }
ul.tabs a.s:hover 	{ background-position: -551px -31px; }
ul.tabs a.s.current     { background-position: -551px -62px; }

/* width 2 */
ul.tabs a.l 			{ background-position: -248px -0px; width:174px; }
ul.tabs a.l:hover 	{ background-position: -248px -31px; }
ul.tabs a.l.current  { background-position: -248px -62px; }


/* width 3 */
ul.tabs a.xl 			{ background-position: 0 -0px; width:248px; }
ul.tabs a.xl:hover 	{ background-position: 0 -31px; }
ul.tabs a.xl.current { background-position: 0 -62px; }


/* initially all panes are hidden */ 
.panes .pane {
	display:none;		
}
/* tab pane styling */
.panes div {
	display:none;		
	padding:1px 10px;
	height: 55px; 
	/*border:0px solid #999;*/
	border-top:0;
	/*height:50px;*/
	font-size:12px;
	/*background-color:#fff;*/
	/*background-image: url("../imagenes/cuerpo/default/toolbar/bg.gif");*/
        background-image: url("../imagenes/fondoazul.png");
}

.X {
   border-top: 1px solid #96d1f8;
   /*background: #65a9d7;*/
   /*border-top: 1px solid #5fbef5;*/
   background: #2b94d6;
   /*background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));*/
      background: -webkit-gradient(linear, left top, left bottom, from(#424869), to(#2b94d6));
   /*background: -moz-linear-gradient(top, #3e779d, #65a9d7);*/
    background: -moz-linear-gradient(top, #424869, #2b94d6);
   padding: 2px 10px  ;  
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
/*   color: white;**/
   font-size: 10px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
    /*top: 20px; right: 50px; bottom: 80px; left: 50px*/

   }
.x:hover {
   /*border-top-color: #28597a;
   background: #28597a;
   color: #ccc;*/
      border-top-color: #589ee8;
   background: #589ee8;
   color: #cccccc;
   }
.x:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
	
