@charset "utf-8";

/****************************************
** hoja de estilos para el uso del 
** pschecker adecuado a orfeo


****************************************/

/*estilos estandar del pschecker*/


/*changepass.php*/

.strength-indicator
	{
		width: 280px;
		height: 100px;
		position: absolute;
		left: 500px;
		top: 2px;
		border-left: solid 2px gray;
		padding: 8px 8px 8px 16px;
		margin-left:4px;
		font-size:12px;
		text-align:justify;
		font-family: Arial, Helvetica, sans-serif;
		font-style: normal;
		font-weight: bolder;
		text-transform: none;
		color: #000000;
	}
	.strength-indicator,
	.strength-indicator2
	{
		line-height: 18px;
	}
	.strength-indicator2
	{
		width: 280px;
		height: 100px;
		position: relative;
		left: 10px;
		top: 2px;
		border-left: solid 2px gray;
		padding: 8px 8px 8px 16px;
		margin-left:4px;
		font-size:12px;
		text-align:justify;
		font-family: Arial, Helvetica, sans-serif;
		font-style: normal;
		font-weight: bolder;
		text-transform: none;
		color: #000000;
	}
	
	.meter
	{
		display: block;
		width: 160px;
		height: 14px;
		background-color: Gray;
		background: #424042; /* Old browsers */
		background: -moz-linear-gradient(left, #424042 0%, #f2f2f2 99%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#424042), color-stop(99%,#f2f2f2)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left, #424042 0%,#f2f2f2 99%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left, #424042 0%,#f2f2f2 99%); /* Opera11.10+ */
		background: -ms-linear-gradient(left, #424042 0%,#f2f2f2 99%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424042', endColorstr='#f2f2f2',GradientType=1 ); /* IE6-9 */
		background: linear-gradient(left, #424042 0%,#f2f2f2 99%); /* W3C */
		font-size: 12px;
		padding: 2px;
		border-radius: 2px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		margin-bottom: 15px;
	}
	.strong
	{
		background-color: Green;
		background: #ffff00; /* Old browsers */
		background: -moz-linear-gradient(left, #ffff00 0%, #218400 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffff00), color-stop(100%,#218400)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left, #ffff00 0%,#218400 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left, #ffff00 0%,#218400 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(left, #ffff00 0%,#218400 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff00', endColorstr='#218400',GradientType=1 ); /* IE6-9 */
		background: linear-gradient(left, #ffff00 0%,#218400 100%); /* W3C */
	}
	.medium
	{
		background-color: orange;
		background: #ffff00; /* Old browsers */
		background: -moz-linear-gradient(left, #ffff00 0%, #f98900 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffff00), color-stop(100%,#f98900)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left, #ffff00 0%,#f98900 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left, #ffff00 0%,#f98900 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(left, #ffff00 0%,#f98900 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff00', endColorstr='#f98900',GradientType=1 ); /* IE6-9 */
		background: linear-gradient(left, #ffff00 0%,#f98900 100%); /* W3C */
	}
	.week
	{
		background-color: yellow;
		background: #ffff00; /* Old browsers */
		background: -moz-linear-gradient(left, #ffff00 0%, #fc1d00 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffff00), color-stop(100%,#fc1d00)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left, #ffff00 0%,#fc1d00 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left, #ffff00 0%,#fc1d00 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(left, #ffff00 0%,#fc1d00 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff00', endColorstr='#fc1d00',GradientType=1 ); /* IE6-9 */
		background: linear-gradient(left, #ffff00 0%,#fc1d00 100%); /* W3C */
	}
	.no-match
	{
		color: #FF7B78 !important;
	}
	
	.password-container
	{
		
		padding: 4px;
		position: relative;
	}
	
	.containernuevo
	{
		width: 600px;
	}
	
	.containerchange
	{
		width: 500px;
	}
	
	.password-container p
	{
		margin: 0;
		padding: 0;
		margin-top: 8px;
	}
	.password-container p label
	{
		display: inline-block;
	}
	
	.containernuevo p label
	{
		text-align: right;
		width: 230px;
		font-size:12px;
		color: #000000;
	}
	
	.containerchange p label
	{
		text-align: left;
		width: 120px;
		font-weight: bolder;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-style: normal;
		line-height: 10px;
		padding-left:5px; 
		font-size: 10px;
	}
	
	.password-container p input[type=password]
	{
		
		
		background-color:#232A34;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border: none;
		color: #fff;
		font-size: 14px;
	}
	
	.containerchange p input[type=password]
	{
		width: 200px;
		height: 25px;
	}
	
	.containernuevo p input[type=password]
	{
		width: 250px;
		height: 30px;
	}
	
	.password-container .info
	{
		display: block;
		color: Gray;
	}
	
	.containerchange .info
	{
		margin-left: 10px;
	}
	
	.containernuevo .info
	{
		margin-left: 134px;
	}
	
	.wrapper
	{
		background-color: #e3e8ec;
		border: solid 1px black;
	}
	
	.wtipo1
	{
		width: 840px;
		margin: auto;
		padding: 10px;
	}
	
	.wtipo2
	{
		width: 340px;
		height: 380px;
	}
	
	.etipo3
	{
		margin-left:132px;
		width:400px;
	}
	
	.etipo4
	{
		margin-left:10px;
		width:320px;
		padding-top:5px;
		font-size:12px;
	}
	
	.error3,
	.error
	{
		color: Red;
		display: block;
	}
	
	.etipo1
	{
		margin-left:132px;
		width:400px;
	}
	
	.etipo2
	{
		margin-left:10px;
		width:320px;
		font-size:12px;
	}
	
	
	.submit-button
	{
		width: 90px;
		height: 20px;
		display: block;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 10px;
		font-weight: bolder;
		text-align: center;
		border: thin solid #377584;
	}
	
	.locked
	{
		background-image: url(./imagenes/menu/menu_des.png);
		color: gray;
	}
	.unlocked
	{
		background-color: #FF6600;
		color: #FFFFFF;
	}
	.btndiv1
	{
		width:400px;
		margin-left:auto;
		margin-right:auto;
	}
	.btndiv2
	{
		width:330px;
	}
	
	#spalateral
	{
		display:block;
		position:absolute;
		left: 410px;
		text-color:#000000;
		height:30px;
	}
	#lbluser
	{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 10px;
		font-style: normal;
		font-weight: bolder;
		color: #ffffff;
		background-color: #377584;
		text-indent: 5pt;
		vertical-align: middle;
		height: 20px;
		padding-top:5px;
	}
	
	.titulouser
	{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 10px;
		font-style: normal;
		line-height: 10px;
		font-weight: bolder;
		color: #FFFFFF;
		background-color: #006699;
		text-indent: 5pt;
		text-transform: uppercase;
		height: 20px;
		padding-top:10px;
	}
	#cam
	{
		color: Red;
		display: block;
		margin-left:10px;
		width:320px;
		font-size:12px;
	}