/* 
    Document   : tables
    Created on : 19/04/2011, 10:26:40 AM
    Author     : deimont
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
/*
#table ul.rows,ul.rows li {
    display: block;
}
#table ul.rows,ul.rows li,ul.columns {
    margin: 0;
    padding: 0;
}
#table ul.columns li {
    display: inline;
    margin: 0 1em;
    text-align: center;
}
#table ul.encabezado,ul.rows li {
    display: block;
}
#table ul.encabezado,ul.encabezado li,ul.columns {
    margin: 0;
    padding: 0;
}
#table ul.encabezado li.columnsTitle ul li{
    display: inline;
    text-align: center;
    font-size: 12;
    color: #d8f9f6;
    background-color: #223399
}
/*#contenedor {
  border: thick solid #000; 
  overflow: hidden;
/*  width: 100%;*/
/*  height: 1%;
}
#izquierda {
  float: left;
  width: 40%;
}
#derecha {
  float: right;
  width: 40%;
}*/
#table {
	width: 100%;
	border-top: 4px solid #e3e7e7;
	}
 
#table p {
	clear: both;
	width: 100%;
	margin: 0;
	}
 
#table span {
	float: left;
	padding: 0 10px;
	border-left: 1px solid #e3e7e7;
	border-bottom: 1px solid #e3e7e7;
	}
 
#table span.col1 {
	width: 120px;
	}
 
#table span.col2 {
	width: 140px;
	}
#table span.col3 {
	width: 180px;
	} 
#table span.col4 {
	width: 120px;
	}
#table span.col5 {
	width: 120px;
	}        
#table span.col6 {
	width: 120px;
        }
        #table span.col7 {
	width: 100px;
	}       
#table span.col8 {
	width: 50px;
	border-right: 1px solid #e3e7e7;
	}
 
.cleaner {
	height: 0;
	clear: both;
	}