.titulo1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: 10px;
	font-weight: bolder;
	color: #FFFFFF;
	background-color: 377584;
	text-indent: 5pt;
}
.info {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	color: #000000;
	text-indent: 5pt;
}
.tex_area {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-indent: 2pt;
	
}
.botones {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bolder;
	background-color: #FF6600;
	color: #FFFFFF;
	text-align: center;
	height: 20px;
	width: 90px;
	border: thin solid #377584;
	background-image:url(../../../imagenes/menu/menu_des.png);
}
.botones:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bolder;
	background-color: #FF6600;
	color: #000000;
	text-align: center;
	height: 20px;
	width: 90px;
	border: thin solid #377584;
	background-image:url(../../../imagenes/menu/menu_udes.png);
}
.botones_2 {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bolder;
	background-color: #e3ad02;
	color: #FFFFFF;
	text-align: center;
	height: 20px;
	width: 30px;
	border: thin solid #999999;
}
.botones_3 {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bolder;
	background-color: #e3ad02;
	color: #FFFFFF;
	text-align: center;
	height: 20px;
	width: 70px;
	border: thin solid #999999;
}
.botones_mediano {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bolder;
	background-color: #FF9900;
	color: #FFFFFF;
	text-align: center;
	height: 20px;
	width: 130px;
	border: thin solid #FFFFFF;
}
.botones_mediano2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bolder;
	background-color: #e3ad02;
	color: #FFFFFF;
	text-align: center;
	height: 20px;
	width: 130px;
	border: thin solid #FFFFFF;
	background-image:url(../../../imagenes/menu/menu_des.png);
}
.botones_largo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bolder;
	background-color: #FF6600;
	color: #FFFFFF;
	text-align: center;
	height: 20px;
	width: 300px;
	border: thin solid #377584;
	background-image:url(../../../imagenes/menu/menu_des.png);
}
.botones_largo:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bolder;
	background-color: #FF6600;
	color: #000000;
	text-align: center;
	height: 20px;
	width: 300px;
	border: thin solid #377584;
	background-image:url(../../../imagenes/menu/menu_udes.png);
}
.select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bolder;
	background-color: #E3E8EC;
	color: #000000;
	border: thin solid #999999;
}
.selectX {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bolder;
	background-color: #E3E8EC;
	color: #000000;
	border: thin solid #999999;
}
.titulos2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	color: #000000;
	background-color: #a8bac6;
	text-indent: 5pt;
	vertical-align: middle;
	height: 20px;
}
.titulos21 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	color: #000000;
	background-color: #a8bac6;
	vertical-align: middle;
	height: 20px;
}

.titulosflujo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: bolder;
	color: #000000;
	background-color: #a8bac6;
	text-indent: 5pt;
	vertical-align: middle;
	height: 30px;
}

.titulos5 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	color: #000000;
	background-color: #e0e6e7;
	text-indent: 5pt;
	vertical-align: middle;
}
.tablas {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	color: #FFFFFF;
	background-color: #999999;
	text-indent: 5pt;
	vertical-align: middle;
}
.titulos3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bolder;
	color: #000000;
	background-color: #a8bac6;
	text-indent: 5pt;
	vertical-align: middle;
	text-align: center;
	height: 20px;
}
.titulos31 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bolder;
	color: #000000;
	background-color: #a8bac6;
	text-indent: 5pt;
	vertical-align: middle;
	text-align: center;
	height: 15px;
}
.borde_tab {
	border: thin solid #377584;
	border-width:1px;
}
.leidos {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bolder;
	color: #006699;
	text-decoration: none;
}
.leidos2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #006690;
	text-decoration: none;
}
.no_leidos {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bolder;
	color: #488F03;
	text-decoration: none;
}
.devueltos {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bolder;
	color: #FF0000;
	text-decoration: none;
}
.devueltos_link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	color: #FF0000;
	text-align: left;
	text-indent: 5pt;
	vertical-align: middle;
}

.listado1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #ffffff;
	text-align: left;
	vertical-align: middle;
	height: 30px;
}
/*.listado1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	text-transform: none;
	color: #000000;
	text-decoration: none;

	text-align: left;
	vertical-align: middle;
	height: 30px;
	background-image:url(../../../imagenes/grid/grid3-hrow30px.gif);
}
.listado1:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	text-transform: none;
	color: #000000;
	text-decoration: none;

	text-align: left;
	vertical-align: middle;
	height: 30px;
		background-image:url(../../../imagenes/grid/grid3-hrow-over30px.gif);
}


.listado2 {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	text-align: left;
	vertical-align: middle;
	height: 30px;
		background-image:url(../../../imagenes/grid/grid3-hrow30px.gif);
}
.listado6 {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	text-align: left;
	vertical-align: middle;
	height: 30px;
		background-image:url(../../../imagenes/grid/grid3-hrow30px.gif);
}

.listado2:hover {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	text-align: left;
	vertical-align: middle;
	height: 30px;
		background-image:url(../../../imagenes/grid/grid3-hrow-over30px.gif);
}*/
.listado1n {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #eef3f7;
	text-align: left;
	vertical-align: middle;
	height: 30px;
}
.listado2 {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #e3e8ec;
	text-align: left;
	vertical-align: middle;
	height: 30px;
}
.listado2e {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	text-transform: none;
	color: #000000;
	text-decoration: none;
        background-color: rgb(236, 243, 248);
	text-align: left;
	vertical-align: middle;
	height: 10px;
}


.listado6 {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: a8bac6;
	text-align: left;
	vertical-align: middle;
}

.listado2_center {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #e3e8ec;
	text-align: center;
	text-indent: 5pt;
	vertical-align: middle;
	height: 30px;
}
.listado2_no_identa {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	text-transform: none;
	color: #000000;
	text-decoration: none;

	background-color: #e3e8ec;
	text-align: left;
	text-indent: 0pt;
	vertical-align: middle;
	height: 30px;
}
.listado5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #e3e8ec;
	text-align: center;
	vertical-align: middle;
	
}   
.listado50 {
font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #e3e8ec;
	text-align: left;
	vertical-align: middle;

}
.listado51 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #FFFFFF;
	text-align: left;
	vertical-align: middle;

}
.paginacion {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #377584;
	text-decoration: none;
	text-align: center;
}
.vinculos {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	color: #006699;
	text-align: left;
	text-indent: 5pt;
	vertical-align: middle;
}
.botones_funcion {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bolder;
	background-color: #377584;
	color: #FFFFFF;
	text-align: center;
	border: thin solid #FFFFFF;
	text-indent: 5pt;
	vertical-align: middle;
		background-image:url(../../../imagenes/menu/menu_des.png);
		height: 25px;
}
.botones_funcion:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bolder;
	background-color: #377584;
	color: #FFFFFF;
	text-align: center;
	border: thin solid #FFFFFF;
	text-indent: 5pt;
	vertical-align: middle;
		background-image:url(../../../imagenes/menu/menu_udes.png);
				height: 25px;
}
.titulos41 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: 10px;
	font-weight: bolder;
	color: #FFFFFF;
/*	background-image: url(../../../imagenes/menu/menu_udes30px.png);*/
	background-color: #006699;
	text-indent: 5pt;
	text-transform: uppercase;
	height: 30px;

}
.titulos4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: 10px;
	font-weight: bolder;
	color: #FFFFFF;
	background-image: url(../../../imagenes/menu/menu_udes30px.png);
	background-color: #006699;
	text-indent: 5pt;
	text-transform: uppercase;
	height: 30px;

}
.alarmas {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #990000;
	text-align: center;
}
.menu_princ {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bolder;
	color: #086478;
	cursor: pointer;
	text-decoration: none;
	text-indent: 3pt;
}
.titulosError {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	color: #FF0000;
	background-color: #e3e8ec;
	text-indent: 5pt;
	vertical-align: middle;
	height: 30px;
}
.titulosError2 {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: bolder;
	color: #FF0000;
	text-indent: 5pt;
	vertical-align: middle;
	height: 30px;
}
.tSel {
 background-color: #00FF22;
 font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #223399;}
.porExcluir {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bolder;
	color: #FF0000;
	text-decoration: none;
}
.vinculoTipifAnex {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	color: #009060;
	text-align: left;
	text-indent: 5pt;
	vertical-align: middle;
}
.impresos {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
 	font-style: normal;
	font-weight: bolder;
	color: #FF6600;
	text-decoration: none;
	text-align: left;
	text-indent: 5pt;
	vertical-align: middle;
}
.impresosvinc {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	color: #FF6600;
	text-align: left;
	text-indent: 5pt;
	vertical-align: middle;
}
.porExcluir {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bolder;
	color: #FF0000;
	text-decoration: none;
}

.tablasLogin {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	color: #FFFFFF;
/*	background-color: #FFFFFF;*/
	 background-image:url(../../../imagenes/fondoazul.png);
	text-indent: 5pt;
	vertical-align: middle;
	border: thin solid #377584;
}

.bordeInicialTabla {
	margin-left: 1px;
	margin-top: 1px;
	margin-right: 1px;
	margin-bottom: 1px;
	background-color: #377584;
}
.bordeInicial {
	margin-left: 1px;
	margin-top: 1px;
	margin-right: 1px;
	margin-bottom: 1px;
	color: #0000FF;
	background-color: #377584;
	background-image:url(../../../imagenes/finalborder.png);
}
.menulateral{
	background-color: #377588;
}

.tablasLogin2 {
	 background-image:url(../../../imagenes/fondoazul.png);
/*	border: thin solid #377584;*/
}
.tablasGrilla {
	background-image:url(../../../imagenes/ext/top-bottom.gif);
 	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bolder;
	color: #000000;
	/*background-color: #a8bac6;*/
	text-indent: 5pt;
	vertical-align: middle;
	text-align: center;
	height: 30px;
/*	border: thin solid #377584;*/
}
.tablasGrilla2 {
	background-image:url(../../../imagenes/ext/top-bottom.gif);
 	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bolder;
	color: #000000;
	/*background-color: #a8bac6;*/
	text-indent: 5pt;
	vertical-align: middle;
	text-align: left;
	height: 30px;
/*	border: thin solid #377584;*/
}
.listado1h {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	text-align: left;
	vertical-align: middle;
	height: 30px;
	background-image:url(../../../imagenes/grid/grid3-hrow30px.gif);
	padding: 2px;

}
.listado3h {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	height: 30px;
	background-image:url(../../../imagenes/grid/grid3-hrow30px.gif);
	padding: 2px;

}
.listado4h {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	text-align: right;
	vertical-align: middle;
	height: 30px;
	background-image:url(../../../imagenes/grid/grid3-hrow30px.gif);
	padding: 2px;

}
.listado5h{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	height: 30px;
		background-image:url(../../../imagenes/grid/grid3-hrow-over30px.gif);
}


.listado2h {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	text-align: left;
	vertical-align: middle;
	height: 30px;
		background-image:url(../../../imagenes/grid/grid3-hrow30px.gif);
}
.listado2h:hover {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	text-align: left;
	vertical-align: middle;
	height: 30px;
		background-image:url(../../../imagenes/grid/grid3-hrow-over30px.gif);
}

